.form-group{
    display: grid;
    grid-template: 35px 1fr / 1fr;
    height: 100%;
    margin-bottom: 15px;
}
.form-group input{
    justify-self: center;
    padding-left: 10px;
}
.form-group label{
    margin-left: 75px;
}
.form-button{
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
}
.mb-10{
    margin-bottom: 10px;
}
.form-button .btn-login:hover{
    cursor: pointer;
    background-color: rgb(87, 173, 180);
}
.form-group input:focus{
    border-color: rgb(121, 183, 187) !important;
    outline: none;
    transition: border .1s;
    -webkit-transition: border .1s;
    -moz-transition: border .1s;
    -ms-transition: border .1s;
    -o-transition: border .1s;
}
.error-user{
    color: red;
    width: 260px;
    margin: auto;
    font-size: 11px;
}

@media screen and (max-width: 500px){
    .form-group label{
        width: 260px;
        margin-left: 10px;
        justify-self: center;
    }
}