.container{
    display: grid;
    grid-template: 1fr / 500px 1fr;
    margin: 30px 50px;
}

.sidebar{
    grid-column: 1;
    height: 700px;
    background-color: #f3f3f3;
    margin-right: 50px;
}

.blog-body{
    grid-column: 2;
    height: 700px;
    background-color: #f3f3f3;
}