.sidebar{
    grid-column: 1;
    height: 700px;
    background-color: #f3f3f3;
    margin-right: 50px;
}

.blog-body{
    grid-column: 2;
    height: 700px;
    background-color: #f3f3f3;
}
.content-cards-posts{
    margin-top: 50px;
    min-height: calc(1141px - 1141px);
}